*{
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	justify-content: center;

}

.box{
	height: 100px;
	width: 100px;
	background-color: green;
	border: 5px solid transparent;
}

.box:hover{
	background-color: yellow;
	border: 5px solid black;
	border-radius: 20px;
}